.heroe {
    background-size: cover;
    width: 100%;
}

.horizontal-list {
  /* aqui va el formato para la lista horizontal */
}

.primera-seccion {
    background-size: cover;
    color: white;
    font-size: 1rem;
}
.barra-navegacion {
    background-color: #f0a83e;
    color: white;
    background-size: cover;
}

.bg-negro{
    background-color: #000;
}

.texto-blanco {
    color: #fff;
}

.texto-negro{
    color: #000;
}

.div-flotante {
    width: 40%;
    right: 0;
    top: 10rem;
    position: absolute;
    text-align: right;
    padding: 0 15rem 0 0;
}