body {
    font-family: "Be Vietnam Pro", sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
}

li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 400;
    font-size: 16px;
}

.footer_list li {
    margin-top: 1.5rem;
    list-style-type: none;
}

.header-menu {
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    padding: 30px 0px;
    font-size: 14px;
    margin-top: 10px;
}

.navigation {
    color: #242e52;
    justify-content: space-between;
    display: flex;
    flex-grow: 0.2;
}

.container {
    margin: auto;
    max-width: 1440px;
}

.get_started_button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: #ffffff;
    font-family: "Be Vietnam Pro", sans-serif;
    position: static;
    width: 134px;
    height: 44px;
    left: 1140.54px;
    top: 65px;
    background: #f3603b;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    border: none;
    transition: all 0.3s linear;
}

.get_started_button:hover {
    color: #f3603b;
    background-color: #fff;
    transition: all 0.3s linear;
    border: 1px solid #f3603b;
}

.get_started_button_light_shadow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: #ffffff;
    font-family: "Be Vietnam Pro", sans-serif;
    position: static;
    width: 134px;
    height: 44px;
    left: 1140.54px;
    top: 65px;
    background: #f3603b;
    box-shadow: 0px 4px 8px rgba(242, 97, 59, 0.5);
    border-radius: 50px;
    border: none;
}

.list_number {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.5px 2px;
    background: #f3603b;
    border-radius: 30px;
    font-style: normal;
    font-size: 16px;
    line-height: 23px;
    align-items: center;
    color: #fff;
    font-family: "Be Vietnam Pro", sans-serif;
}

.web-intro {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

h1 {
    color: #232c50;
    font-style: normal;
    font-weight: bold;
    font-size: 58px;
    line-height: 66px;
    display: flex;
    align-items: center;
    letter-spacing: -0.035em;
    flex: none;
    order: 0;
    flex-grow: 1;
}

.web-intro-p {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    align-items: center;
    color: #000000;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.container-list {
    justify-content: space-evenly;
}

.first_h2 {
    width: 433px;
    height: 88px;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 41px;
    display: flex;
    align-items: center;
    color: #232851;
}

.first_h2_p {
    width: 337px;
    top: 124px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #000000;
}

.title-style {
    font-style: normal;
    font-weight: bold;
    margin-top: -0.025rem;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: -0.01em;
    color: #323851;
    padding-top: 1px;
}

.list-p {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -0.01em;
    color: #b3b2b7;
}

.second_h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 39.2143px;
    line-height: 61px;
    display: flex;
    align-items: center;
    letter-spacing: -0.01em;
    color: #242e53;
    justify-content: center;
    margin-top: 5rem;
}

.profiles {
    background: #fafafa;
    position: relative;
    padding: 50px;
}

.profile_title {
    width: 390px;
    height: 25px;
    font-style: normal;
    font-weight: 700;
    font-size: 16.0714px;
    text-align: center;
    line-height: 25px;
    letter-spacing: -0.01em;
    color: #3f4868;
}

.profiles_text {
    width: 80%;
    margin: auto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    color: #b9b9c1;
    order: 2;
    flex-grow: 0;
    margin: 21px 0px;
}

.avatar {
    margin-top: -100px;
    max-width: 70px;
}

.socialmedia {
    color: #fff;
    font-size: 20px;
    transition: all 0.3s linear;
}

.socialmedia i:hover {
    color: #f3603b;
    transition: all 0.3s linear;
    cursor: pointer;
}

.orange_footer {
    background-color: #f3603b;
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    justify-content: space-around;
}

.get_started_white {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: #f3603b;
    font-family: "Be Vietnam Pro", sans-serif;
    position: static;
    width: 134px;
    height: 44px;
    left: 1140.54px;
    top: 65px;
    background: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    border: none;
}

.third_h2 {
    width: 438px;
    height: 96px;
    left: 0px;
    top: 0px;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    letter-spacing: -0.005em;
    color: #ffffff;
}

.footer_items {
    width: 100%;
    justify-content: space-evenly;
    margin: none;
}

.background-orange-footer {
    background-image: url(./imagenes/bg-simplify-section-desktop.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.go_button {
    justify-content: center;
    width: 63px;
    height: 42px;
    left: 209.91px;
    top: 3.26px;
    padding: 10px;
    color: #ffffff;
    font-family: "Be Vietnam Pro", sans-serif;
    background: #f3603b;
    border-radius: 50px;
    border: none;
    font-size: 16px;
    margin-left: 5px;
}

.row-flex-inverse {
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
    min-width: 375px;
}

.push-link {
    margin-left: 200px;
}

.form {
    position: static;
    border-radius: 50px;
    border: none;
    font-family: "Be Vietnam Pro", sans-serif;
    width: 201px;
    height: 40px;
    left: 10px;
    top: 2.26px;
    font-weight: 600;
    color: #a0a0a0;
    padding-left: 10px;
    margin-bottom: 10px;
    margin-top: 15px;
}

.copyright-text {
    font-size: 12.5px;
    margin-right: 10%;
}

/* Clases utilitarias */

.p-1 {
    padding: 0.1rem;
}

.m-4 {
    margin: 2rem;
}

.mt-1 {
    margin-top: 1rem;
}

.m-mx {
    margin: auto;
}

.flex {
    display: flex;
}

.justify-content-center {
    align-items: center;
}

.image-fluid {
    width: 100%;
    height: auto;
}

.column-flex {
    flex-flow: column;
    justify-content: space-between;
    justify-content: flex-start;
}

.row-flex {
    flex-flow: row;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.box-size {
    width: 800px;
    margin-right: 6rem;
}

.align-items {
    align-items: center;
}

.bg-black {
    background-color: #1e1e26;
}

.justify-content-space-around {
    justify-content: space-around;
}

.text-align-right {
    text-align: right;
}

.text-align-center {
    text-align: center;
}

.text-align-left {
    text-align: left;
}

.color-white {
    color: #fff;
}

.color-gray {
    color: #8c8c94;
}

.pt-1 {
    padding-top: 1rem;
}

.pb-1 {
    padding-bottom: 1rem;
}

.ml-1 {
    margin-left: 1rem;
}

.btn-orange {
    background-color: #f3603b;
    color: #fff;
    transition: all 0.3s linear;
    border: 1px solid #f3603b;
    cursor: pointer;
}

.btn-orange:hover {
    color: #f3603b;
    background-color: #fff;
    transition: all 0.3s linear;
    border: 1px solid #f3603b;
}

.btn-white {
    color: #f3603b;
    background-color: #fff;
    transition: all 0.3s linear;
    border: 1px solid #fff;
    cursor: pointer;
}

.btn-white:hover {
    background-color: #f3603b;
    color: #fff;
    transition: all 0.3s linear;
    border: 1px solid #fff;
}

.btn-white {
    color: #f3603b;
    background-color: #fff;
    transition: all 0.3s linear;
    border: 1px solid #fff;
}

.btn-white:hover {
    background-color: #f3603b;
    color: #fff;
    transition: all 0.3s linear;
    border: 1px solid #fff;
}

.color-shift {
    /* margin-top: 40%; */
    color: #fff;
    transition: all 0.3s linear;
}

.color-shift:hover {
    color: #f3603b;
    transition: all 0.3s linear;
    cursor: pointer;
}

.color-shift-gray {
    color: #242e52;
    transition: all 0.3s linear;
}

.color-shift-gray:hover {
    color: #b9b9c1;
    transition: all 0.3s linear;
    cursor: pointer;
}
